/* Navbar Styles */
.navbar {
    background-color: #333;
}

.navbar-brand {
    color: white;
}

.navbar-toggle {
    border: 1px solid white; /* Color of the bars in mobile view */
}

/* Dropdown Menu Styles */
.navbar-nav {
    background-color: #555; /* Background color for mobile menu */
}

/* Page Heading Styles */
.main-section {
    background-color: #f0f0f0; /* Background color for the main content section */
    padding: 20px; /* Adjust as needed */
}

